---
import SpeckAndTechLogo from "../logos/SpeckAndTechLogo.astro";
import NavLinks from "../navigation/NavLinks.astro";
import NavSocials from "../navigation/NavSocials.astro";
---

<nav class="flex justify-center">
  <div class="py-3 px-10 md:container md:mx-auto flex items-center justify-between">
    <a href="/"><SpeckAndTechLogo /></a>

    <NavLinks />
    <NavSocials />
  </div>
</nav>
