---
import GitHubLogo from "../logos/GitHubLogo.astro";
import TwitterLogo from "../logos/TwitterLogo.astro";
---

<div class="flex items-center space-x-4">
  <a href="https://twitter.com/" target="_blank">
    <TwitterLogo />
  </a>
  <a href="https://github.com/withastro/astro" target="_blank">
    <GitHubLogo />
  </a>
</div>
