---
import PageTitle from "../components/PageTitle.astro";
import Page from "../layouts/Page.astro";
---

<Page>
  <PageTitle>About us</PageTitle>
  <div class="prose prose-xl lg:prose-2xl">
    <figure class="mb-10">
      <img src="/images/about.webp" class="" alt="S&T Group Picture" />
      <figcaptio class="text-sm">
        The Workshop Day — Photo by <a
          href="https://www.instagram.com/edomenegaz/"
          target="_blank">Edoardo</a
        >
      </figcaptio>
    </figure>

    <p class="mb-5">
      Speck&Tech is the digital community of Trentino. Founded on March 1st,
      2016 by a group of youngsters, who some people would define nerds or
      geeks, it was then officially registered as an
      <b>“Associazione Culturale”</b> on April 18th, 2017. Since its birth,
      Speck&Tech has always had an ambitious and precise goal (as one can still
      read in the motto on the homepage), that is to create a <b>community</b>
       of people, even very different from each other, united by a <b
        >passion for technology and innovation</b
      >, who want to exchange ideas and knowledge about these and related
      topics.
    </p>

    <p>
      How? Mainly through <b>monthly events</b> - over 50 in recent years,
      <a href="/events">you can find them all here</a>
       - which resemble the typical meetups of large American and European
      cities:
      <b>two talks of about half an hour</b> on the same theme, generally in
      English, followed by 5 minutes of Q&A. A more technical presentation, a
      more divulgative one; or maybe a more “developer-like” and a more
      entrepreneurial one, or a scientific and a philosophical one. This is then
      followed by a convivial part of
      <b>networking</b>, where the participants discuss together with the
      speakers and the other <i>Speckers</i>, eat <b>speck</b> (the famous local
      cold cuts) and drink a few beers.
    </p>

    <iframe
      width="100%"
      height="315"
      class="mt-10 mb-10"
      src="https://www.youtube.com/embed/PRhpeAC46As"
      allowfullscreen
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>

    <p class="mb-5">
      Along these years, the Association's initiatives have been many: from
      simple "itinerant" Speck&Tech (in Piazza Duomo at
      <a href="/2018/04/future-cities/">#TSCW18</a>, in Munich, at the Caproni
      Airport during
      <a href="https://speckand.tech/2018/09/ibelievespeckcanfly/"
        >Festivolare</a
      >, at the UniTrento CLab...), to various collaborations with interational
      players and local authorities (the triptych of events
      <a href="https://speckand.tech/2019/03/mn-guida-galattica-per-specker/"
        >MUSE::Next</a
      >
       organized with the Museum of Science, which registered over 300
      participants in its first night, is memorable); from the
      <a href="https://speckand.tech/2017/10/hack-developers/">Hackathon</a>
       co-organized with the <b>Government's Digital Team</b> in 2017 to the
      renowned
      <a href="https://speckand.tech/retreat">Speck&Tech Retreat</a>, the
      weekend in the mountains where outdoor activities in the
      <b>Dolomites</b> are combined with Trentino gourmet food, career fairs,
      relaxation in the spa, talks and technical workshops.
    </p>

    <p class="mb-5">
      Towards the end of 2020, both to keep our audience engaged and to explore
      new horizons, Speck&Tech also launched a
      <a href="https://anchor.fm/speckandtech/">podcast</a>: it was an
      experiment, which received good feedback and helped the Association
      overcome the challenging period of the Covid-19 pandemic. From October
      2021, after over a year and a half without events in attendance and thanks
      to the entry of fresh forces into the Association and the contribution of <b
        >new volunteers</b
      > (to date there are about 15 members), Speck&Tech has returned to
      organize its
      <b>monthly meetups</b> at Impact Hub Trentino, as well as a series of new
      initiatives, such as Speck&Trek.
    </p>

    <p>
      Would you like to help the Association?
      <a href="mailto:speckandtech@gmail.com">Write to us!</a>
    </p>

    <p>
      Do you want to support Speck&Tech?
      <a href="https://speckand.tech/support-us">Here is how</a>.
    </p>
  </div>
</Page>
