---
import Page from '../layouts/Page.astro';
import Header from "../components/homepage/Header.astro";
import PreviousEvents from "../components/homepage/PreviousEvents.astro";
import JobOpenings from "../components/homepage/JobOpenings.astro";
---

<Page>

  <Header />

  <main>
    <p>Main content</p>

    <PreviousEvents />
    <JobOpenings />

  </main>

</Page>
