---
import SpeckAndTechLogo from "./logos/SpeckAndTechLogo.astro";
import NavSocials from "./navigation/NavSocials.astro";
import { getCollection } from "astro:content";

const events = (await getCollection("events"))
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .reverse()
  .slice(0, 3);
---

<footer class="bg-accent/10 mt-24">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/"
          ><SpeckAndTechLogo />
          <p class="mt-4 self-center text-2xl font-medium whitespace-normal">
            Associazione culturale Speck&Tech
          </p>
        </a>
        <ul class="list-none mt-2">
          <li>C.F. 96106760224</li>
          <li>P.IVA IT02467530222</li>
          <li>IBAN IT31I0830401864000064406608</li>
        </ul>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Pages
          </h2>

          <ul class="text-gray-500 font-medium">
            <li class="mb-4">
              <a href="/about" class="hover:underline">About</a>
            </li>
            <li class="mb-4">
              <a href="/support-us" class="hover:underline">Support Us</a>
            </li>
            <li class="mb-4">
              <a href="/retreat-v4" class="hover:underline">Retreat v4</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Last events
          </h2>
          <ul class="text-gray-500 font-medium">
            {
              events.map((event) => (
                <li class="mb-4">
                  <a href={event.slug} class="hover:underline">
                    {event.data.title.substring(1)}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Info
          </h2>
          <ul class="text-gray-500 font-medium">
            <li class="mb-4">
              <a href="/code-of-conduct" class="hover:underline"
                >Code of Conduct</a
              >
            </li>
            <li>
              <a
                href="https://github.com/speckandtech/speckandtech.github.io/issues"
                class="hover:underline">Report an Error</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="row flex justify-center mt-12">
      <NavSocials />
    </div>
  </div>
</footer>
