---
import Page from "../../layouts/Page.astro";
import FormattedDate from "../../components/FormattedDate.astro";

import { getCollection } from "astro:content";
import PageTitle from "../../components/PageTitle.astro";

const events = (await getCollection("events"))
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .reverse();
---

<Page>
  <section event-list>
    <PageTitle>Events</PageTitle>

    <p class="mb-12 text-xl md:text-2xl leading-normal max-w-4xl">
      Here's the list of most events organized by Speck&Tech since 2016! You can
      find all the talks, their abstracts, information about the speakers,
      slides (when available) and links to video recordings and photo albums.
    </p>

    <ul class="list-none grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        events.map((post) => (
          <a class="hover:no-underline" href={`/events/${post.slug}/`}>
            <li class="border h-full p-4 md:p-8 rounded-xl group/item hover:bg-accent/10 transition-colors md:min-h-[200px] flex items-center ">
              <div>
                <FormattedDate
                  classAtt="text-base text-gray-500"
                  date={post.data.date}
                />
                <h3 class="text-xl md:text-2xl font-bold leading-normal mt-2 md:mt-4">
                  {post.data.title}
                </h3>
              </div>
            </li>
          </a>
        ))
      }
    </ul>
  </section>
</Page>
